- bike ||= @bike
.span-12
  .span-6= image_tag bike.image.url, :width => 225
  .span-6.last
    .span-6
      %table
        %tr
          %td.bold Name
          %td= bike.name
          
        / %tr
        /   %td.bold Identifier
        /   %td= bike._identifier
      
        %tr
          %td.bold Location
          %td= bike.location.name.titleize if bike.location
  
        %tr
          %td.bold Model
          %td= bike._model.titleize

        %tr
          %td.bold
          %td
          
    
    .align-center= link_to_function "Confirm Reservation", "$('#reservation_bike_id').val('#{bike._id}');$('#reservation_form').submit();", :class => "link"