
.span-24  
  #filters_container.span-6
    .header filters
    .reservation_form_wrapper
      .subheader date
      = form_for :reservation, :html => {:id => "reservation_form"}, :url => create_reservation_path do |f|
        = f.hidden_field :bike_id, :id => "reservation_bike_id"
        = f.hidden_field :start
        = f.hidden_field :stop
        %ul.radio
          %li
            = radio_button_tag "day_offset", 0, :checked => "checked"
            = label_tag "day_offset_0", "Today", :style => "width:100px;"
            = radio_button_tag "day_offset", 1
            = label_tag "day_offset_1", "Tomorrow", :style => "width:100px;"
        .hidden
          = f.submit "Search"
    #location_filters.option-set.append-bottom{:data_filter_group => "location"}
      .subheader.span-6 location
      .span-3.filter.default_filter= link_to "All", "#filter_location_any", :data_filter_value => ""
      - %w{ leverett cabot mather lowell lamont science_center }.each_with_index do |filter, index|
        .filter.span-3{:class => ("last" if (index + 1) % 2 == 1)}= link_to "#{filter.titleize}", "#filter_location_#{filter}", :data_filter_value => "[location=#{filter}]"
    #size_filters.option-set.append-bottom{:data_filter_group => "size"}
      .subheader.span-6 size
      .span-3.filter.default_filter= link_to "All", "#filter_size_any", :data_filter_value => ""
      - %w{ small medium large }.each_with_index do |filter, index|
        .filter.span-3{:class => ("last" if (index + 1) % 2 == 1)}= link_to "#{filter.titleize}", "#filter_size_#{filter}", :data_filter_value => "[size=#{filter}]"        
    #model_filters.option-set.append-bottom{:data_filter_group => "model"}
      .subheader.span-6 model
      .span-3.filter.default_filter= link_to "All", "#filter_model_any", :data_filter_value => ""
      - %w{ mountain street }.each_with_index do |filter, index|
        .filter.span-3{:class => ("last" if (index + 1) % 2 == 1)}= link_to "#{filter.titleize}", "#filter_model_#{filter}", :data_filter_value => "[model=#{filter}]"        
  .reservation_form_wrapper.span-18.last
    .header time
    .span-16.prepend-1
      #reservation_table
        %table{:cellspacing => "0"}
          %tbody
            %tr.quarters
              %td.first{:colspan => "12"}
                6 am
              %td{:colspan => "12"}
                noon
              %td{:colspan => "12"}
                6 pm
              / %td{:colspan => "12"}
              /   12am
            %tr.hours
              - (12..47).each{|i|haml_tag "td.timeslot-#{i}#{i % 2 == 0 ? ".even" : ".odd" }#{".final" if i == 47}"}
      #time_picker
      %span.flag
        %span.day.bold Today, 
        %span.times.bold
        .message
  #isotope_wrapper
    #objects_container.span-16.prepend-1.last
      - for bike in @objects do
        - if bike.image.url("medium")
          - filter_data = bike.filter_data
          - timeslot_array = filter_data[:class].split(" ")
          %div.span-16[bike]{filter_data}
            .span-2
              .photo
                = link_to bike.image.url("medium"), :class => "expandable", :title => bike.name do
                  = image_tag bike.image.url("medium"), :size => "60x60"
            .span-13.last
              %span.bold= bike._identifier
              = ", \"#{bike.name}\""
              #bike_table.span-13
                %table{:cellspacing => "0"}
                  %tbody
                    %tr.days
                      %td.first{:colspan => "36"}
                        Today
                      %td{:colspan => "36"}
                        Tomorrow
                    %tr.quarters
                      %td.first{:colspan => "12"}
                        6 am
                      %td{:colspan => "12"}
                        noon
                      %td{:colspan => "12"}
                        6 pm
                      %td{:colspan => "12"}
                        6 am
                      %td{:colspan => "12"}
                        noon
                      %td{:colspan => "12"}
                        6 pm                              
                      / %td{:colspan => "12"}
                      /   12am
                    %tr.hours
                  
                      - ((12..47).to_a + (60..95).to_a).each{|i|haml_tag "td.timeslot-#{i}#{i % 2 == 0 ? ".even" : ".odd" }#{".final" if i == 47}#{(timeslot_array.include? "timeslot-#{i}") ? ".unavail" : ".avail"}"}
              = link_to "#", :class => "reservation_link link", :onclick => "$('#new_reservation .main').html('#{escape_javascript(render :partial => 'program/bikes/bike_reservation', :locals => {:bike => bike})}');$('#new_reservation_link').click();" do  
                Reserve
.hidden
  #new_reservation
    .title
      Confirm Reservation for 
      %span.flag
        %span.day Today, 
        %span.times
    .main
  = link_to "New Reservation", '#new_reservation',:id => "new_reservation_link"
:javascript
  $(function(){
  $('#new_reservation_link').fancybox();
  $('#objects_container').isotope({});
  filter_properties();
  $('.default_filter a').click();
  $('#time_picker').slider({
  range: true,
  min: 12,
  max: 48,
  step: 1,
  values: [parseInt("#{Time.zone.now.hour < 6 ? 12 : Time.zone.now.hour * 2}"), parseInt("#{Time.zone.now.hour < 6 ? 14 : (Time.zone.now.hour * 2 + 2)}") ],
  slide: function(event, ui){
  var val_start = ui.values[0];
  var val_stop = ui.values[1];
  var start_hr = Math.floor(val_start / 2) % 12;
  var start_min = val_start % 2 == 0 ? "00" : "30";
  var start_offset = (val_start < 24 || val_start > 47) ? " am" : " pm";
  var stop_hr = Math.floor(val_stop / 2) % 12;
  var stop_min = val_stop % 2 == 0 ? "00" : "30";
  var stop_offset = (val_stop < 24 || val_stop > 47) ? " am" : " pm";
  $('.times').text((start_hr == 0 ? 12 : start_hr) + ":" + start_min + start_offset + " - " + (stop_hr == 0 ? 12 : stop_hr) + ":" + stop_min + stop_offset);
  filter_timeslots();
  $('#reservation_start').val(val_start);
  $('#reservation_stop').val(val_stop);
  }
  });
  $('input[name="day_offset"]').change(function(){
  filter_timeslots();
  $('.day').text(($(this).val() < 1 ? "Today, " : "Tomorrow, "));
  });
  var val_start = parseInt("#{Time.zone.now.hour < 6 ? 12 : (Time.zone.now.hour * 2)}");
  var val_stop = parseInt("#{Time.zone.now.hour < 6 ? 14 : (Time.zone.now.hour * 2 + 2)}");
  var start_hr = Math.floor(val_start / 2) % 12;
  var start_min = val_start % 2 == 0 ? "00" : "30";
  var start_offset = val_start < 24 ? " am" : " pm";
  var stop_hr = Math.floor(val_stop / 2) % 12;
  var stop_min = val_stop % 2 == 0 ? "00" : "30";
  var stop_offset = val_stop < 24 ? " am" : " pm";
  $('.times').text((start_hr == 0 ? 12 : start_hr) + ":" + start_min + start_offset + " - " + (stop_hr == 0 ? 12 : stop_hr) + ":" + stop_min + stop_offset);
  filter_timeslots();
  });