= link_to "Add Bike", object_new_path('bike')
/ = paginate @objects
%table 
  %tr
    %th Image
    %th= sortable "name"
    %th= sortable "location_id", "Location"
    %th= sortable "status"
    %th Show
    %th Edit
  - for bike in @objects do
    %tr
      %td= image_tag bike.image.url(:thumb) if bike.image.url("thumb")
      %td= bike.name
      %td= link_to bike.location.name, object_show_path("location", bike.location) if bike.location
      %td= bike._status
      %td= link_to "Show", object_show_path("bike", bike)
      %td= link_to "Edit", object_edit_path("bike", bike)