

= form_for :reservation, :html => {:id => "reservation_form"}, :url => create_reservation_path do |f|
  = f.hidden_field :bike_id, :id => "reservation_bike_id"
    

  %ul.radio
    %li
      = radio_button_tag "day_offset", 0, :checked => "checked"    
      = label_tag "day_offset_0", "Today"
      = radio_button_tag "day_offset", 48
      = label_tag "day_offset_48", "Tomorrow"
    %li
      - (0..11).to_a.each do |hour|
        = label_tag "hour_#{hour * 2}", "#{hour + 1}"
        = radio_button_tag "hour", (hour * 2)
    %li
      \:
    %li
      = label_tag "minute_offset_0", "00"
      = radio_button_tag "minute_offset", 0
      = label_tag "minute_offset_1", "30"
      = radio_button_tag "minute_offset", 1
    %li
      = label_tag "hour_offset_0", "am"
      = radio_button_tag "hour_offset", 0
      = label_tag "hour_offset_24", "pm"
      = radio_button_tag "hour_offset", 24
  = label_tag "duration"
  = select_tag "duration", options_for_select((1..8).to_a.collect{|i| ["#{i.to_f / 2.0} hours", i]})
  .hidden
    = f.submit "Search"
:javascript 
  $('#reservation_form input').change(function(){
  filter_dates();
  });
  $('#reservation_form select').change(function(){
  filter_dates();
  });
  $('#reservation_date').datepicker();
  $('#hour_#{(Time.now.hour % 12) * 2}').attr("checked", "checked");
  $('#minute_offset_#{Time.now.min < 30 ? 0 : 1}').attr("checked", "checked");  
  $('#hour_offset_#{Time.now.hour < 12 ? 0 : 24}').attr("checked", "checked");
