
.span-24  
  #filters_container.span-6
    .header filters
    #time_filters.option-set.append-bottom{:data_filter_group => "time"}
      .subheader time
      .span-3.filter.default_filter= link_to "All", "#filter_time_any", :data_filter_value => ""
      - %w{ future current past }.each_with_index do |filter, index|
        .filter.span-3{:class => ("last" if (index + 1) % 2 == 1)}= link_to "#{filter.titleize}", "#filter_time_#{filter}", :data_filter_value => "[time=#{filter}]"  
    #location_filters.option-set.append-bottom{:data_filter_group => "location"}
      .subheader location
      .span-3.filter.default_filter= link_to "All", "#filter_location_any", :data_filter_value => ""
      - %w{ leverett cabot kirkland }.each_with_index do |filter, index|
        .filter.span-3{:class => ("last" if (index + 1) % 2 == 1)}= link_to "#{filter.titleize}", "#filter_location_#{filter}", :data_filter_value => "[location=#{filter}]"
  #objects_container.span-16.prepend-1.last
    - for reservation in @objects do
      - bike = reservation.bike
      - unless bike.nil?
        - filter_data = reservation.filter_data
        - timeslot_array = filter_data[:class].split(" ")
        %div.span-16[reservation]{filter_data}
          .span-16
            .span-2
              .photo
                = link_to bike.image.url, :class => "expandable", :title => bike.name do
                  = image_tag bike.image.versions[:thumb].url, :size => "60x60"
            .span-10
              .span-4
                .date= reservation.expand_date
                .time= reservation.expand_time
              %span.bold
                = "\"#{bike.name}\""
              %br
              = bike.location.name
            .span-4.last.unlock_code
              = unlock_code reservation
            .span-15.border-top.append-1.last
              .span-8.flag_bike
                - if (reservation.date == CbTime.today && reservation.start <= Time.zone.now.hour*2) || (reservation.date == CbTime.yesterday)
                  = link_to "Flag Bike for Repair", "#", :onclick => "$('#ticket_bike_id').val('#{bike._id}');$('#flag_bike .bike_name').text('#{bike.name}');$('#flag_bike_link').click();"
              - unless reservation.expired?
                .span-7.last.cancel_reservation.align-right= link_to "Cancel Reservation", object_destroy_path("reservations", reservation), :confirm => "Are you sure you would like to cancel this reservation?"
          
.hidden
  #flag_bike.span-8
    %h2.border-bottom
      Flag "
      %span.bike_name
      " for Repair?
    %p (Note that this will cancel your current reservation)
    = form_for :ticket, :url => open_ticket_path do |f|
      = f.hidden_field :bike_id
      = f.label :open_note, "Reason for flagging:"
      = f.text_area :open_note, :cols => 40
      .align-center
        = f.submit "Flag Bike", :confirm => "Are you sure you wish to flag the bike for repair? This will cancel your current reservation."
  = link_to "Flag Bike", "#flag_bike", :id => "flag_bike_link"
  #unlock_code
  = link_to "View Unlock Code", '#unlock_code', :id => "unlock_code_link"
:javascript
  $(function(){
  $('#objects_container').isotope({});
  filter_properties();
  $('.default_filter a').click();
  $('#unlock_code_link').fancybox();
  $('#flag_bike_link').fancybox();
  });