- user = @object
.span-24.border-bottom.align-left
  = link_to "Index", object_manage_path("users")
%h2= user.fullname
.span-6
  %table
    -%w{email phone processed sign_in_count last_sign_in_at }.each do |field|
      %tr{:class => field}
        %td.bold= field.titleize
        %td= user.read_attribute(field)
    
.span-6
  = form_for user, :url => object_update_path("users", user) do |f|
    = f.label :processed
    = f.select :processed, options_for_select([["True", true], ["False", false]])
    = f.label :flagged
    = f.select :flagged, options_for_select([["True", true], ["False", false]])
    = f.submit
.span-6.last
  %h2 Reservations
  %table
    - for reservation in user.reservations do
      - bike = reservation.bike
      %tr
        %td= reservation.expand_date
        %td= link_to bike.name, object_edit_path("bikes", bike)
        %td= link_to "Manage", object_edit_path("reservations", reservation)
= link_to "Email This User", notification_new_path(:to => user._id)