- objects ||= @objects
%table
  %tr
    %th= sortable "name_last", "Name"
    %th= sortable "email"
    %th= sortable "confirmed_at"
    %th= sortable "processed", "Membership"
    %th= sortable "last_sign_in_at"
    %th= sortable "admin", "User Type"
    %th Manage
  - for object in objects do
    %tr[object]
      %td= object.fullname
      %td= object.email
      %td= object.confirmed_at
      %td= "#{object.processed ? "processed" : "pending"}"
      %td= object.last_sign_in_at
      %td= "#{object.admin ? "admin" : "default"}"
      %td= link_to "Manage", object_edit_path("user", object)
  