%h2.align-center= "CrimsonBikes Reservation Confirmation"
%p
  ="Hello #{@user.fullname},"
  %br
  = image_tag @bike.image.url("medium"), :width => 200
  = "You have successfully reserved #{@bike.name} for #{@reservation.expand_time}.  You will receive an email with the unlock code for the bike within 2 hours of the scheduled start of the reservation.  If you do not receive this email the code will also be visible on your account's reservation page."
  %br
  Sincerely,
  %br
  The CrimsonBikes team.
%br
%br
%i
  Note: this is an automated email.  Please email 
  %a{:href => "mailto:info@crimsonbikes.org"} info@crimsonbikes.org
   if you have any questions.