CrimsonBikes Reservation Confirmation:
="Hello #{@user.fullname},"
= "You have successfully reserved #{@bike.name} for #{reservation.expand_date} #{@reservation.expand_time}.  You will receive an email with the unlock code for the bike within 2 hours of the scheduled start of the reservation.  If you do not receive this email the code will also be visible on your account's reservation page."
Sincerely, The CrimsonBikes team.