#account[current_user]
  .title= "Hello #{current_user.name_first}"
  .bold=" Membership status: #{current_user.active? ? "active" : "inactive"}"
  .prepend-top.span-24.notice
    - if current_user.active?
      = "Membership expires #{current_user.membership.expiration_date}"
    - else
      .span-22.basic
        .span-18.f5.bold
          Fall Semester Membership: $20
        .span-4.last
          = link_to image_tag( "https://checkout.google.com/buttons/checkout.gif?merchant_id=&w=180&h=46&style=trans&variant=text&loc=en_US"), process_checkout_path("half")
      / .span-22.premium
      /   .span-18.f5.bold
      /     Full Year Membership: $35
      /   .span-4.last
      /     = image_tag "https://checkout.google.com/buttons/checkout.gif?merchant_id=&w=180&h=46&style=trans&variant=disabled&loc=en_US"
      
        
     