- object ||= @object
- locations = Location.all.collect{|location|[location.name, location.id]}
= form_for object, :url => (object.persisted? ? object_update_path(object.class.inspect, object._id) : object_create_path(object.class.inspect)), :html => {:multipart => true} do |f|
  %ul
    - unless object.persisted?
      %li= f.label :name
      %li= f.text_field :name
    %br
    %li= f.label :address
    %li= f.text_field :address
    %br
    %li= f.label :description
    %li= f.text_area :description, :value => object.description
    %br
    %li= f.label :instructions
    %li= f.text_area :instructions
    %br
    %li= f.label :image, "Image"
    - if object.image_filename
      %li= image_tag object.image.url(:thumb)

    %li= f.file_field :image
    %br
    %li= f.submit