#about
  #tabs.prepend-top
    %ul
      - @pages.each do |page|
        %li.align-center= link_to page.title, "#tab-#{page.title.downcase.gsub(" ","_")}"
      / - %w{ crimson_bikes how_to_register safety FAQ  }.each do |tab|
      /        %li.align-center
      /          = link_to tab.titleize, "#tab-#{tab}"
    - @pages.each do |page|
      %div{:id => "tab-#{page.title.downcase.gsub(" ","_")}"}
        = page.text.html_safe
:javascript
  $(function(){
  $('#tabs').tabs();
  })
  