- object ||= @object
- url = (params[:action] == "edit" ? object_update_path(object.class.inspect, object._id) : object_create_path(object.class.inspect))
.span-8
  %ul
    = form_for object, :url => url do |f|
      %li
        = f.label :title
        = f.text_field :title
      %br  
      %li
        = f.label :_pos, "Position"
        = f.number_field :_pos
      %br
      %li
        = f.label :text
        = f.text_area :text, :class => "mceEditor"
      %br
      %li  
        = f.submit
      