- objects ||= @objects
= link_to "Add Page", object_new_path('static_pages')
= paginate @objects
%table
  - for object in @objects do
    %tr[object]
      %td= object.title
      %td= object._pos
      %td= link_to "Edit", object_edit_path("static_pages", object._id)