!!!
%html
  %head
    %title Crimson Bikes
    = stylesheet_link_tag "uploadify","blueprint-css/blueprint/screen",'../javascripts/fancybox/jquery.fancybox-1.3.4', "jquery-ui-1.8.11.custom", "nivo-slider/nivo-slider", "nivo-slider/themes/default/default"
    = stylesheet_link_tag :all
    = javascript_include_tag :defaults
    = javascript_include_tag "jquery.dragsort-0.4.2.min", "jquery-ui-1.8.11.custom.min", 'fancybox/jquery.mousewheel-3.0.4.pack.js', 'fancybox/jquery.fancybox-1.3.4.pack.js', 'jwplayer/jwplayer', "jquery.isotope.min", 'jquery.nivo.slider.pack'
    = include_tiny_mce_if_needed
    = csrf_meta_tag
    = yield :head
    %meta{ :name=>"google-site-verification", :content=>"PHinRMSVsO9a8OttdPTiy3WmK3r_QA1DEhsExj4Ccp4"}
  %body
    .container
      #dialog
      #header.span-24
        .span-4=image_tag "logo.jpg", :height=>100
        #navigation.span-20.last.bold.f3  
          .span-8
            %ul
              %li= "Welcome, #{current_user.name_first}" if user_signed_in?
          .span-12.last.align-right
            %ul
              -if user_signed_in?
                %li=link_to "[ sign out ]", destroy_user_session_path
                - if admin_user?
                  %li= link_to "user view", object_index_path("bikes")
              -else
                %li=link_to "[ sign in ]", new_user_session_path, :class => ('active' if params[:controller] == 'devise/sessions')
                %li=link_to "[ register ]", new_user_registration_path, :class => ('active' if params[:controller] == 'devise/registrations')
          .span-20.last.border-top.bold.f5.prepend-top.align-right
            = render :partial => "program/shared/navigation_admin"
      #main.prepend-top.span-24
        #content=yield
      #footer= yield :footer
    #loading.spinner
      = image_tag "loader.gif"
- if flash[:notice]
  :javascript
    $('#dialog').attr("title", "Notice").html("#{flash[:notice]}").dialog();
- if flash[:error]
  :javascript
    $('#dialog').attr("title", "ERROR").html("#{flash[:error]}").dialog();    
